*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    margin-top:47px 896px 277.2px 42px;
}
.link-header{
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.875px;
    color: #17233D;
    margin-right: 32px;
    cursor:pointer;
}
.button-header{
    width: 124px;
    height: 51px;
    border-radius: 6px;
    border: 1px solid #4CB538;
    background: #6FBF44;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    color:#fff;
    cursor:pointer;
}

img{
    
    margin: 163px 0 0 123px;
    display:inline-block;
}
section{
    display: inline-block;
    margin-left: 85px;
    width: 493;
}



h1{
    font-weight: 700;
    line-height: 82px; 
    letter-spacing: 0.596px;
    color: #161A49;
    font-size: 62px;


    }
p{
    font-size: 18px;
    font-weight: 400;
    line-height: 33px; /* 183.333% */
    letter-spacing: 0.5px;
    color: #4B505A;
    width: 493px;
    margin-top: 47px;
    margin-bottom: 55px;
}
.button-main{
    color: #6FBF44;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    background: transparent;
    border:none;
    cursor: pointer;
    
    }